
<!-- Disclaimer Modal -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Disclaimer</h1>
      </div>
      <div class="modal-body">
        <ul>
          <li>
            Any and all images displayed that do not reflect in game textures, graphics, and items; have been post modified via Adobe Photoshop or similar tools.
          </li>
          <li>
            We do not condone the use of mods and/or do we reflect the usage of such third party tools.
          </li>
          <li>
            We abide by the rules layed out by Square Enix in regards to the prohibited use of third party tools.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container footer bg-dark mx-0 mw-100">
    <footer class="py-5">
      <ul class="nav justify-content-center pb-3 mb-3 text-white">
          <li class="nav-item"><a href="#disclaimerModal" data-bs-toggle="modal" class="nav-link px-2 text-secondary">Disclaimer</a></li>
          <li class="nav-item"><a href="/faqs" class="nav-link px-2 text-secondary">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Members</a></li>
      </ul>
      <p class="text-center" style="color: #5a5a5a;">Founded 2016 Excobris, F.C.</p>
    </footer>
  </div>
