
<div class="background-landingpad">

    <section class="info-pages bg-dark container-fluid col-lg-6">
        
        <h1>About Us</h1>
        <p>
            We are a fairly active Free Company, while most of our members only have a small amount of time to be active; we make the most out of that time we have. The activties we do together are map parties (tresure hunt minigame), disord events (movies and website minigames), and loitering in Limsa Lominsa. We have members specializing in high-end content such as Ultimate Raids (hardest content) and more casual content such as g-posing (photography). The majority of our members enjoy the scenary of Limsa Lominsa. We are a casual Free Comapny. Simply a group of friends enjoying each other's company.
        </p>

        <h1>History</h1>
        <p>
            Excobris started in 2016 as a small group of friends. As years went on, our numbers dwindled, we faced stagnation, and after roughly 6 years we had the biggest turning point in the Free Company. Our Free Company gained new members and the largest we have had to date with nearly 30 members. Far more than we ever could anticipate and a strong frienship was made. Excorbris has had a bond created amongst its members. A bond that we feel, resembles a bond of a family and a bond we welcome. Our Free Company took a change, change can be scary, but this change brought us new faces and new friends. We are happy where this change brought us.
        </p>

        <h1>Location</h1>
        <p>
            <i>Region:</i> North America <br>
            <i>Data Center:</i> Primal <br>
            <i>World:</i> Lamia <br>
            <i>City:</i> Limsa Lominsa
        </p>
        
    </section>

</div>