<div class="background-landingpad">

    <section class="info-pages bg-dark col-lg-6">
        <h1>Frequently Asked Questions</h1>

        <h2>How do I join?</h2>
        <p>
            Unfortunately, we do not have a criteria for future applicants. Nor, do we have a process for new applicants. We are a tight group that understands the principles of growing "too large". However the possiblity of new members goes through extensive review before being ommited into the Free Company. We apologize for the ambiguity and vaugeness of the process.
        </p>

        <h2>Does the FC play Osu?</h2>
        <p>
            Despite our tag resembling the title of the game "Osu", we have no correlation with the game. Our tag simply happens to be spelled and pronounced similarly. However, that goes without saying that some Members may partake in playing the game.
        </p>

        <h2>What does Ossu stand for?</h2>
        <p>
            "Ossu" is a slang variation of "what's up", from the Japanese language. A slight modern slang used as a laid back "cool" response that translates more closely to english as " 'sup".
        </p>
        
    </section>

</div>