
<div class="container-fluid">
    <div class="row">

        <div class="background-picturesOne col-lg-3 d-none d-lg-block px-0"></div>

        <div class="center-column col-lg-6 bg-dark">

          <section class="picturesTitle">
            <h1>Group Pictures</h1>
            <div class="picturesFilter">
              <select name="groupPictures" id="groupSelector" class="form-control">
                <option disabled selected>Choose a Collection:</option>
              </select>
            </div>
          </section>
            
          <div id="carouselFade1" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner carousel-groupSelector" id="groupPictures">
              <div class="carousel-item active">
                <img src="./images/placeholder_3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <img src="./images/placeholder_1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <img src="./images/placeholder_2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFade1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
          </div>



          <section class="picturesTitle">
            <h1>Glamours</h1>
            <div class="picturesFilter">
              <select name="charPictures" id="charSelector" class="form-control">
                <option disabled selected>Choose a Character:</option>
              </select>
            </div>
          </section>
                
          <div id="carouselFade2" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner carousel-charSelector" id="charPictures">
              <div class="carousel-item active" data-filter="">
                <img src="./images/placeholder_5.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item" data-filter="">
                <img src="./images/placeholder_4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item" data-filter="">
                <img src="./images/placeholder_6.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFade2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
          </div>

        </div>


        <div class="background-picturesTwo col-lg-3 d-none d-lg-block px-0"></div>

    </div>

</div>